@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "DarkTheme";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(15% 0 0);
  --color-base-300: oklch(20% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(64% 0.246 16.439);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(70% 0.165 254.624);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }
}
